body,html,ul,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
#box{
  width: 100vw;
  height: 100vh;
  background: #000;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  .left{
    .home{
      width: 90px;
      height: 90px;
      background-color: #DBA91C;
      font-size: 20px;
      color: #121212;
      font-weight: bold;
      text-align: center;
      line-height: 90px;
      border-radius: 10px;
      transition: all .5s;
      &:hover{
        background: #ffcb22;
        cursor: pointer;
        >a{
          display: block;
          width: 90px;
          height: 90px;
          font-size: 23px;
        }
      }
      >a{
        color: #000;
        transition: all .5s;
      }
    }
    nav {
      width: 90px;
      height:705px;
      background: #121212;
      padding: 10px 0;
      box-sizing: border-box;
      margin-top: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          width: 55px;
          height: 40px;
          margin: 20px 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 4px;
            transition: background 0.3s;
            &:hover{
              background: #555;
              color: #ffcb22;
            }
          }
          .active{
            background: #555;
            color: #ffcb22;
          }
        }
      }
    }
  }
  #app {
    //width: 1476px;
    flex: 1;
    margin: 0 0 0 15px;
    //padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #121212;
    overflow-y: auto;
    //隐藏滚动条
    -ms-overflow-style: none;
    scrollbar-width: none;
    .page{
      display: none;
      animation: fadeIn 2s ease;
      color: #fff;
      h1 {
        margin-bottom: 20px;
      }
      .scroll_home{
        width: 100%;
        height: 100vh;
        overflow: auto;
        //隐藏滚动条
        &::-webkit-scrollbar {
          display: none;
        }
        .home_outBox{
          width: 100%;
          height: 386px;
          background: url("./../image/bg_01.png") no-repeat center;
          background-size: 100%;
          .home_outBox_inner{
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top,#121212 15%,transparent);
            .avatar_out{
              width: 1000px;
              height: 100%;
              margin: 0 auto;
              padding: 90px;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              .avatar_img{
                display: block;
                width: 120px;
                height: 120px;
                border-radius: 50%;
              }
              .author{
                font-size: 28px;
                font-weight: bold;
                color: #e0e0e0;
              }
              .introduce{
                font-size: 11px;
                font-weight: bold;
                color:#a5a5a5;
              }
            }
          }
        }
        .home_count{
          width: 100%;
          height: 600px;
          .home_count_inner{
            width: 1000px;
            height: 600px;
            padding: 0 90px 75px;
            box-sizing: border-box;
            margin: 0 auto;
            .service{
              width: 820px;
              height: 20px;
              display: flex;
              justify-content: space-between;
              margin-bottom: 60px;
              .botLine{
                flex: 1;
                border-bottom: 2px dotted #2c2c2c;
                margin: 0 10px 5px;
                box-sizing: border-box;
              }
              >span{
                font-size: 20px;
                line-height: 20px;
                &:first-child{
                  color: #e0e0e0;
                }
                &:last-child{
                  color: #2c2c2c;
                }
              }
            }
            .service_list{
              width: 100%;
              height: 440px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              >li{
                width: 402px;
                height: 205px;
                padding: 30px;
                box-sizing: border-box;
                background-color: #1a1a1a;
                h3{
                  font-size: 16px;
                  color: #e0e0e0;
                  margin-bottom: 30px;
                  >span{
                    color: #DBA91C;
                  }
                }
                .service_introduce{
                  line-height: 17px;
                  margin-bottom: 23px;
                  overflow: hidden;
                }
                .order{
                  display: inline-block;
                  position: relative;
                  cursor: pointer;
                  &::before{
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: #DBA91C;
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    transition: all 1s ease;
                  }
                  &:hover::before{
                    width: 64px;
                    cursor: pointer;
                  }
                }
              }
              .remove{
                opacity: 0;
                transform: translatey(20px) scale(.8);
                transition: all .5s ease;
              }
              .remove_1{
                transform: translate(0) scale(1);
                opacity: 1;
              }
            }
          }
        }
      }

    }
    .active {
      display: block;
    }

  }
}
//动画
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.about_2{
  height: 100vh;
}

